<!DOCTYPE html>
<html lang="ko-KR" class="no-js">

  <head>
    <meta charset="UTF-8" />
    <title>Button 컴포넌트</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Button 컴포넌트는 일반적으로 자주 사용되는 아토믹 컴포넌트입니다." />
    <meta name="theme-color" content="#4285f4" />
    <link rel="icon" href="/assets/favicon/favicon.png" />
    <link rel="stylesheet" href="https://unpkg.com/pretendard/dist/web/static/pretendard.css" as="style" crossorigin />
    <script type="module" src="/main.js"></script>
  </head>

  <body>
    <noscript>이 애플리케이션을 사용하기 위해서는 JavaScript 활성화가 필요합니다.</noscript>

    <div class="flex gap-4">

      <div data-side-nav></div>

      <main class="container ml-[300px] p-8">

        <h1 class="text-5xl mb-16 text-black font-thin">Button</h1>

        <h2 class="demo__headline">Primary</h2>
        <div class="demo">
          <div class="demo__code">
            <button type="button" class="button">버튼 레이블</button>
          </div>

          <button type="button" class="demo__button" aria-label="code 복사" title="code 복사"></button>
        </div>

        <h2 class="demo__headline">Primary / Disabled</h2>
        <div class="demo">
          <div class="demo__code">
            <button type="button" class="button" disabled>버튼 레이블</button>
          </div>

          <button type="button" class="demo__button" aria-label="code 복사" title="code 복사"></button>
        </div>

        <h2 class="demo__headline">Secondary</h2>
        <div class="demo">
          <div class="demo__code">
            <button type="button" class="button button--secondary">버튼 레이블</button>
          </div>

          <button type="button" class="demo__button" aria-label="code 복사" title="code 복사"></button>
        </div>

        <h2 class="demo__headline">Secondary / Disabled</h2>
        <div class="demo">
          <div class="demo__code">
            <button type="button" class="button button--secondary" disabled>버튼 레이블</button>
          </div>

          <button type="button" class="demo__button" aria-label="code 복사" title="code 복사"></button>
        </div>

      </main>
    </div>

  </body>

</html>