<!DOCTYPE html>
<html lang="ko-KR" class="no-js">

  <head>
    <meta charset="UTF-8" />
    <title>Icon 컴포넌트</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Icon 컴포넌트는 일반적으로 자주 사용되는 아토믹 컴포넌트입니다." />
    <meta name="theme-color" content="#4285f4" />
    <link rel="icon" href="/assets/favicon/favicon.png" />
    <link rel="stylesheet" href="https://unpkg.com/pretendard/dist/web/static/pretendard.css" as="style" crossorigin />
    <script type="module" src="/main.js"></script>
  </head>

  <body>
    <noscript>이 애플리케이션을 사용하기 위해서는 JavaScript 활성화가 필요합니다.</noscript>

    <div class="flex gap-4">

      <div data-side-nav></div>

      <main class="container ml-[300px] p-8">
        <h1 class="text-5xl mb-12 text-black font-thin">Icon</h1>

        <h2 class="inline-block text-2xl mb-5 leading-none -ml-2 text-gray-900 bg-gray-100 px-4 py-2 rounded-full font-light">
          Sprite
        </h2>

        <h3 class="demo__headline">Letter</h3>
        <div class="demo">
          <div class="demo__code">
            <span class="icon icon--letter"></span>
          </div>

          <button type="button" class="demo__button" aria-label="code 복사" title="code 복사"></button>
        </div>

        <h3 class="demo__headline">Lock</h3>
        <div class="demo">
          <div class="demo__code">
            <span class="icon icon--lock"></span>
          </div>

          <button type="button" class="demo__button" aria-label="code 복사" title="code 복사"></button>
        </div>

        <h3 class="demo__headline">Eye Hide</h3>
        <div class="demo">
          <div class="demo__code">
            <span class="icon icon--eye-hide"></span>
          </div>

          <button type="button" class="demo__button" aria-label="code 복사" title="code 복사"></button>
        </div>

        <h3 class="demo__headline">Eye Show</h3>
        <div class="demo">
          <div class="demo__code">
            <span class="icon icon--eye-show"></span>
          </div>

          <button type="button" class="demo__button" aria-label="code 복사" title="code 복사"></button>
        </div>

        <h2 class="inline-block text-2xl mt-12 mb-5 leading-none -ml-2 text-gray-900 bg-gray-100 px-4 py-2 rounded-full font-light">
          Image
        </h2>

        <h3 class="demo__headline">Letter</h3>
        <div class="demo">
          <div class="demo__code">
            <img src="/assets/icons/letter.svg" alt="" />
          </div>

          <button type="button" class="demo__button" aria-label="code 복사" title="code 복사"></button>
        </div>
        
        <h3 class="demo__headline">Lock</h3>
        <div class="demo">
          <div class="demo__code">
            <img src="/assets/icons/lock.svg" alt="" />
          </div>

          <button type="button" class="demo__button" aria-label="code 복사" title="code 복사"></button>
        </div>
        
        <h3 class="demo__headline">Eye Hide</h3>
        <div class="demo">
          <div class="demo__code">
            <img src="/assets/icons/eye-hide.svg" alt="" />
          </div>

          <button type="button" class="demo__button" aria-label="code 복사" title="code 복사"></button>
        </div>
        
        <h3 class="demo__headline">Eye Show</h3>
        <div class="demo">
          <div class="demo__code">
            <img src="/assets/icons/eye-show.svg" alt="" />
          </div>

          <button type="button" class="demo__button" aria-label="code 복사" title="code 복사"></button>
        </div>

      </main>
    </div>

  </body>

</html>