.Button {
  box-sizing: content-box;
  /* padding: 1.052em 3.368em; */
  /* font-size: 1.187rem; */
  width: 210px;
  border: none;
  border-radius: 2px;
  padding: 20px 64px; 
  line-height: 1;
  font-size: 19px;
  /* @apply bg-primary-500 text-white; */
  background: #049CF1;
  color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
}

.Buttton:disabled {

}

.Button--secondary {

}


.Button--secondary:disabled {

}