<!DOCTYPE html>
<html lang="ko-KR" class="no-js">
<head>
  <meta charset="UTF-8" />
  <title>버튼 컴포넌트</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="문서 설명 작성 (300자 이내)" />
  <meta name="theme-color" content="#006eb4" />
  <link rel="icon" href="https://www.vectorlogo.zone/logos/w3_html5/w3_html5-icon.svg" />
  <link rel="stylesheet" href="./logo.css" />
  <link rel="stylesheet" href="./button.css" />
</head>
<body> 
  
  <div class="container">
    <div class="IconGroup">
      <button type="button" class="Button">오늘 수업 여기서 끝~</button>
      <button type="button" class="Button" disabled>취소</button>
      <button type="button" class="Button Button--secondary">회원가입</button>
      <button type="button" class="Button Button--secondary" disabled>회원가입</button>
    </div>
  </div>

</body>
</html>