<!DOCTYPE html>
<html lang="ko-KR" class="no-js">
<head>
  <meta charset="UTF-8" />
  <title>로고 컴포넌트</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="문서 설명 작성 (300자 이내)" />
  <meta name="theme-color" content="#006eb4" />
  <link rel="icon" href="https://www.vectorlogo.zone/logos/w3_html5/w3_html5-icon.svg" />
  <link rel="stylesheet" href="./logo.css" />
</head>
<body>

  <div class="container">
    <div role="group" class="LogoGroup">
      <figure class="Logo" aria-label="Coupang"></figure>
      <figure class="Logo Logo--mono" aria-label="Coupang"></figure>
      <figure class="Logo Logo--black" aria-label="Coupang"></figure>
    </div>
  </div>

</body>
</html>